.container {
    margin: auto;
    width: 250px;
    height: 260px;
    position: relative;
    top: 35%;
    box-shadow: 0px 0px 20px #8778781c;
    border-color: #8778781c;
    border-radius: 170px;
    &:hover {
        border-style: solid;
        border-width: 8px;
        border-color: #8778781c;
        border-radius: 170px;
        box-shadow: 0px 0px 20px #8778781c;
        transition: all 500ms;
    }
}

.imgProfile {
    width: inherit;
    height: inherit;
    border-radius: inherit;
    &:hover {
        cursor: pointer;
    }
}
